@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    body {
      visibility: hidden;
    }
    #printarea {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
  }